name: Lint
 
on: [push, pull_request]
 
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Install Node dependencies
      run: npm install
    - name: Run linter
      run: npm run lint